<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projet_ecommerce_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="connection.pool_size">3</property>
        <property name="hibernate.charSet">UTF-8</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="fr.doranco.ecommerce.entity.beans.Adresse"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.User"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.Article"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.Commande"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.LigneDeCommande"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.ArticlePanier"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.Categorie"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.Params"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.Commentaire"></mapping>
        <mapping class="fr.doranco.ecommerce.entity.beans.CartePaiement"></mapping>
    </session-factory>
</hibernate-configuration>
